<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :post_title, 'Название поста:' %>
        <%= f.text_field :post_title, size: 128, class: "form-control" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :post_name, 'URL поста:' %>
        <div class="input-group">
          <span class="input-group-addon">http://</span>
          <%= f.text_field :post_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post_content, 'Текст поста' %>
      <%= f.cktext_area :post_content, class: "form-control" %>
    </div>

    <div class="post_edit_tag_input form-group">
      <%= f.label :tag_list, 'Теги поста (,)' %>
      <%= f.text_field :tag_list %>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading spoiler-btn">
        <h3 class="panel-title">Список тегов</h3>
      </div>

      <div id="tag_cloud_edit" class="spoiler-body panel-body tag_cloud">
        <% tag_cloud Post.tag_counts.sort { |a, b| a.name <=> b.name }, %w{css1 css2 css3 css4} do |tag, css_class| %>
            <%= link_to tag.name, "#", class: css_class %>
        <% end %>
      </div>
    </div>

    <div class="post_edit_date_pickup form-group">
      <br/>
      <%= f.label :post_date, 'Дата и время публикации' %>
      <%= f.datetime_select :post_date, :with_css_classes => true, class: "form-control" %>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <%= f.label :post_status, 'Публикуем?' %>
        <%= f.select :post_status, options_for_select(["draft", "publish", "pending"], @post.post_status) %>
      </div>
      <div class="large-3 columns">
        <%= f.label :post_type, 'Тип поста' %>
        <%= f.text_field :post_type %>
      </div>
      <div class="large-3 columns">
        <%= f.label :comment_status, 'Разрешить каменты?' %>
        <%= f.radio_button :comment_status, 'true', checked: @post.comment_status %>
        <%= f.label :comment_status, "Да", :value => true %>
        <%= f.radio_button :comment_status, 'false', checked: !@post.comment_status %>
        <%= f.label :comment_status, "Нет", :value => false %>
      </div>
      <div class="large-3 columns">
        <%= f.label :retina, 'Есть картинки для Ретины?' %>
        <%= f.radio_button :retina, 'true', checked: @post.retina %>
        <%= f.label :retina, "Да", :value => true %>
        <%= f.radio_button :retina, 'false', checked: !@post.retina %>
        <%= f.label :retina, "Нет", :value => false %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'nice blue radius button' %>
    </div>

<% end %>
