<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Post date</th>
      <th>Post title</th>
      <th>Post post_name</th>
      <th>Post status</th>
      <th>Post type</th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.post_date.to_date %></td>
        <td><%= link_to post.post_title, post %></td>
        <td><%= URI.decode(post.post_name) %></td>
        <td><%= post.post_status %></td>
        <td><%= post.comment_status %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
